/* line 1, ../sass/index.sass */
html {
  background: url(http://iamthejeff.com/img/posts/turntable_records.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
